package com.choice.cloud.architect.groot.response.code;

/**
* @author lanboo
* @date 2020/5/7 10:06
* @description 系统code实现接口
*/
public interface ResponseInfo {

    /**
     * 获取响应Code
     * @return
     */
    String getCode();

    /**
     * 获取响应Desc
     * @return
     */
    String getDesc();
}
